<h1>All Sales Vinyl</h1>

<h3>Available Records</h3>

<% if @albums.any? %>
  <ul>
    <% @albums.each do |album| %>
      <li><a href="/albums/<%= album.id%><%= album.name%></li>
    <% end %>
  </ul>
<% else %>
  <p> We ain't got nothing for you, man.</p>
  
<% end %>

<form action="/albums">
  <div class="form-group">
    <label for="search">Search</label>
    <input id="search" name="search" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Search!</button>
</form>


<a href="/albums/new">click here to add a new album</a>